    body {
      padding: 0;
      margin: 0;
      background: #f2f6e9;
    }

    /*--- MENU ---*/
    .navbar {
      background:#ff9800;
    }
    .nav-link,
    .navbar-brand {
      color: #fff;
      cursor: pointer;
    }
    .nav-link {
      margin-right: 1em !important;
    }
    .nav-link:hover {
      color: #000;
    }
	
    .navbar-collapse {
      justify-content: flex-end;
    }
	
	/*--- Langing Page ---*/
	.header {
		background-image: url('images/header-background.jpg');
		background-size: cover;
		background-position: center;
		position: relative;
	}

	.overlay {
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.6);
	}
	
	/*--- Tabela ---*/
	.description {
      left: 50%;
      position: absolute;
      top: 45%;
      transform: translate(-50%, -55%);
      text-align: center;
    }
    .description h1 {
      color: #ff9800;
    }
    .description p {
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.5;
    }
	
	/*--- Stopka ---*/
	    .page-footer {
      background-color: #222;
      color: #ccc;
      padding: 60px 0 30px;
    }
    .footer-copyright {
      color: #666;
      padding: 40px 0;
    }